---
import contacts from "../../data/quienes.json";
import Quien from "./Quien.astro";
---

<section id="quienes" class="pt-24 lg:pt-16">
  <h2
    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center"
  >
    Quienes somos
  </h2>
  <div class="block md:flex justify-center gap-2 flex-wrap">
    {
      contacts["somos"].map((quien) => {
        return <Quien 
        name={quien.name}
        img={quien.img}
        profesion={quien.profesion}
        p1={quien.p1}
        p2={quien.p2} />;
      })
    }
  </div>
</section>
